/* Add CSS styling here */
body{
    max-width:100%;
    background-image: url("./pic.jpg");
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
}

*{
    border:1px solid gray;
}

.container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}



h1{
    text-shadow:0.3125rem 0.3125rem 0.1875rem #f304cb;
    font-size: 6rem;
    color: #ce9fe9;
    font-family: 'Dancing Script', cursive;
}

.small-container{
    background-color:#ffffa0;
    color: #ff7300;
    border-radius: 50%;
}

p{
    padding-bottom: 1.5rem;
}

.buttons{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    margin:-2rem auto 5rem auto;
}

.buttons a{
    height:1.5rem;
    width:auto;
    text-align:center;
    padding:.2rem;
    margin: .5rem;
    background-color: rebeccapurple;
    color: pink;
    text-decoration: none;
}

.buttons :hover{
    background-color:paleturquoise;
    color:darkolivegreen;
}

.small-container{
    width:75%;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:end
}

.small-container p{
    width:100%;
}

.content img{
   height:31.25rem;
   margin:0.625rem 3.4375rem;
   width:90%;
}

.projects{
    height:6.25rem;
    display:flex;
    align-items:stretch;
    justify-content:stretch;
    height:32.5rem;
}

#project1, #project2, #project3, #project4{
    width:18%;
    margin:.5rem;
}

p2{
    width: 18%;
    margin:.5rem;
    font-size: 100%;
    background-color: palegoldenrod;
    border-radius: .8rem;
    color: rgb(24, 178, 250);
}

.footer-buttons{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.footer-buttons a{
    height:1.5rem;
    width:auto;
    text-align:center;
    padding:.2rem;
    margin: .5rem;
    background-color: rebeccapurple;
    color: pink;
    text-decoration: none;
}

.footer-buttons :hover{
    background-color:paleturquoise;
    color:darkolivegreen;
}

@media (max-width: 800px){
    .buttons, .footer-buttons{
        font-size: 1.5rem;
    }

    .small-container{
        width: 95%;
        height: 25rem;
        justify-content: center;
        align-items: center;
    }
    .small-container h2, .small-container p{
        padding:1rem;
        width: 80%;
        margin:0;
        height: 25%; 
        font-size: 1.5rem;
    }
    .small-container h2{
        font-size:2.5rem;
    }

    .projects{
        display:flex;
        flex-flow: row wrap;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    #project1, #project2, #project3, #project4{
        width:46%;
        margin:1.5%;
        height:41%
    }
    #project3{
        height:29.76875rem;
    }
    p2{
        width:98%;
        height: 8rem;
        margin:1rem;
        font-size: 2rem;
        text-align: center;
    }
}

@media(max-width: 500px){
    h1{
        text-align: center;
        margin:0rem;
    }

    .buttons{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin:0rem;
        padding: 0;
    }

    .small-container{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .small-container h2, .small-container p{
        padding:1rem;
        width: 80%;
        margin:0;  font-size: 1rem;
    }

    .content img{
        margin:5%;
        height: 75%;
    }

    .projects{
        display:flex;
        flex-flow: row wrap;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    #project1, #project2, #project3, #project4{
        width:46%;
        margin:1.5%;
        height:41%
    }
    #project3{
        height:18.26875rem;
    }
    p2{
        width:98%;
        height: 8rem;
        margin:1rem;
        font-size: 2rem;
        text-align: center;
    }
    .footer-buttons{
        display:flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
}